<html class=""><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script type="text/javascript">Object.defineProperty(window.navigator, 'userAgent', { get: function(){ return 'Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_2 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Mobile/13F69 MicroMessenger/6.3.16 NetType/WIFI Language/zh_CN'; } });Object.defineProperty(window.navigator, 'vendor', { get: function(){ return 'Apple Computer, Inc.'; } });Object.defineProperty(window.navigator, 'platform', { get: function(){ return 'iPhone'; } });</script><head>
                        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="color-scheme" content="light dark">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
<link rel="shortcut icon" type="image/x-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/NTI4MWU5.ico">
<link rel="mask-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/MjliNWVm.svg" color="#4C4C4C">
<link rel="apple-touch-icon-precomposed" href="//res.wx.qq.com/a/wx_fed/assets/res/OTE0YTAw.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">



        <script nonce="" type="text/javascript">
            window.logs = {
                pagetime: {}
            };
            window.logs.pagetime['html_begin'] = (+new Date());
            window.LANG= "zh_CN";
            window.isOldVideoPage = false;
                    </script>
        <title></title>
        <!---请求录制 by gabyliu-->
        <!--todo 这里要加cookie或actionType才加载 -->

<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css">
<link rel="stylesheet" type="text/css" href="//res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/common/msg4d546f.css">

    </head>
                        <body id="activity-detail" class="zh_CN   discuss_tab  appmsg_skin_default appmsg_style_default ">
        <!-- <span style="color: red">currentVersion </span>
                <div style="color:red;padding-left: 50px;">is IOS</div>
                        <span style="color: red">111</span>
        <span style="color: red">222170009FF</span> -->



        <link rel="dns-prefetch" href="//res.wx.qq.com">
<link rel="dns-prefetch" href="//mmbiz.qpic.cn">
<link rel="dns-prefetch" href="https://wxa.wxs.qq.com">
<link rel="shortcut icon" type="image/x-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/NTI4MWU5.ico">
<link rel="mask-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/MjliNWVm.svg" color="#4C4C4C">
<link rel="apple-touch-icon-precomposed" href="//res.wx.qq.com/a/wx_fed/assets/res/OTE0YTAw.png">
<script nonce="" type="text/javascript">
    String.prototype.html = function(encode) {
        var replace =["&#39;", "'", "&quot;", '"', "&nbsp;", " ", "&gt;", ">", "&lt;", "<", "&yen;", "¥", "&amp;", "&"];






        var replaceReverse = ["&", "&amp;", "¥", "&yen;", "<", "&lt;", ">", "&gt;", " ", "&nbsp;", '"', "&quot;", "'", "&#39;"];
	    var target;
	    if (encode) {
	    	target = replaceReverse;
	    } else {
	    	target = replace;
	    }
        for (var i=0,str=this;i< target.length;i+= 2) {
             str=str.replace(new RegExp(target[i],'g'),target[i+1]);
        }
        return str;
    };

    window.isInWeixinApp = function() {
        return /MicroMessenger/.test(navigator.userAgent);
    };

    window.getQueryFromURL = function(url) {
        url = url || 'http://qq.com/s?a=b#rd';
        var tmp = url.split('?'),
            query = (tmp[1] || "").split('#')[0].split('&'),
            params = {};
        for (var i=0; i<query.length; i++) {
            var arg = query[i].split('=');
            params[arg[0]] = arg[1];
        }
        if (params['pass_ticket']) {
        	params['pass_ticket'] = encodeURIComponent(params['pass_ticket'].html(false).html(false).replace(/\s/g,"+"));
        }
        return params;
    };

    (function() {
	    var params = getQueryFromURL(location.href);
        window.uin = params['uin'] || "" || '';
        window.key = params['key'] || "" || '';
        window.wxtoken = params['wxtoken'] || '';
        window.pass_ticket = params['pass_ticket'] || '';
        window.appmsg_token = "";
    })();

    function wx_loaderror() {
        if (location.pathname === '/bizmall/reward') {
            new Image().src = '/mp/jsreport?key=96&content=reward_res_load_err&r=' + Math.random();
        }
    }

</script>

<script nonce="" type="text/javascript">
            window.no_moon_ls = 0;
    </script>


<div class="weui-msg">
    <div class="weui-msg__icon-area">
              <i class="weui-icon-warn-gray weui-icon_msg"></i>
          </div>
    <div class="weui-msg__text-area">
                    <div class="weui-msg__title warn">
            该内容已被发布者删除
            </div>
            </div>
        <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__links">
              <a class="weui-footer__link" href="http://mp.weixin.qq.com/mp/opshowpage?action=main#wechat_redirect">微信公众平台运营中心</a>
            </p>
        </div>
    </div>
    </div>

<script type="text/javascript">
var PAGE_MID='mmbizwap:appmsg/error.html';
</script>
        <script nonce="" type="text/javascript">
window.logs.pagetime.page_begin = Date.now();
</script>
        <script nonce="" type="text/javascript">
  (function () {

    var ajaxWhiteList = {
      1: {
        reg: /^https?:\/\/mp\.weixin\.qq\.com\/mp\/appmsg_like/,
        times: 0
      },
      2: {
        reg: /^https?:\/\/mp\.weixin\.qq\.com\/mp\/appmsg_comment((\?|&)[^=]*?=[^&]*?)*?(\?|&)action=likecomment/,
        times: 0
      },
      3: {
        reg: /^https?:\/\/mp\.weixin\.qq\.com\/mp\/appmsg_comment((\?|&)[^=]*?=[^&]*?)*?(\?|&)action=addcomment/,
        times: 0
      },
      4: {
        reg: /^https?:\/\/mp\.weixin\.qq\.com\/mp\/authorreward/,
        times: 0
      }




    };


    if (!performance || !performance.getEntries) return;


    var hasReported = false;


    var reportResLoadTime = function () {

      if (hasReported) return;


      var notSupport = false;


      var ajaxEntries = [];


      var entries = performance.getEntries().map(function (entry) {
        if (typeof entry !== 'object') {
          notSupport = true;
        } else if (entry.entryType === undefined) {
          notSupport = true;
        } else if (
          entry.entryType !== 'navigation' &&
          entry.entryType !== 'resource'
        ) {

          return null;
        } else if (entry.initiatorType === undefined) {
          notSupport = true;
        } else if (entry.initiatorType === 'xmlhttprequest') {

          if (entry.name === undefined || entry.duration === undefined) {
            notSupport = true;
          } else {
            for (var scene in ajaxWhiteList) {
              if (Object.prototype.hasOwnProperty.call(ajaxWhiteList, scene)) {
                var ajaxItem = ajaxWhiteList[scene];
                if (ajaxItem.times < 10 && ajaxItem.reg.test(entry.name)) {
                  ajaxEntries.push({
                    scene: scene,
                    protocol: entry.nextHopProtocol,
                    is_https: isHttps(entry),
                    time: entry.duration
                  });
                  ajaxItem.times++;
                }
              }
            }
          }
          return null;
        }
        return entry;
      });


      if (notSupport || ajaxEntries.length === 0) return;


      var data = {
        stat_list: ajaxEntries
      };
      var img = new Image();
      img.src = 'https://mp.weixin.qq.com/mp/timereport?data=' + JSON.stringify(data);
      hasReported = true;
    };


    window.addEventListener('beforeunload', reportResLoadTime, false);
    window.addEventListener('unload', reportResLoadTime, false);

    function isHttps(entry) {
      if (/^https/.test(entry.name)) return 1;
      else return 0;
    }
  })();
</script>
        <script nonce="">
    var __DEBUGINFO = {
        debug_js : "//res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/biz_wap/debug/console42f400.js",
        safe_js : "//res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/biz_wap/safe/moonsafe42f400.js",
        res_list: []
    };
</script>

<script nonce="" type="text/javascript">
(function() {
	var totalCount = 0,
			finishCount = 0;

	function _loadVConsolePlugin() {
		window.vConsole = new window.VConsole();
		while (window.vConsolePlugins.length > 0) {
			var p = window.vConsolePlugins.shift();
			window.vConsole.addPlugin(p);
		}
	}

	function _addVConsole(uri, cb) {
		totalCount++;
		var node = document.createElement('SCRIPT');
		node.type = 'text/javascript';
		node.src = uri;
		node.setAttribute('nonce', '');
		if (cb) {
			node.onload = cb;
		}
		document.getElementsByTagName('head')[0].appendChild(node);
	}
	if (
		(document.cookie && document.cookie.indexOf('vconsole_open=1') > -1)
		|| location.href.indexOf('vconsole=1') > -1
	) {
		window.vConsolePlugins = [];
		_addVConsole('//res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/3.2.2/vconsole.min440203.js', function() {

			_addVConsole('//res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/plugin/vconsole-mpopt/1.0.1/vconsole-mpopt42f400.js', _loadVConsolePlugin);
		});
	}


  try {
    var adIframeUrl = localStorage.getItem('__WXLS_ad_iframe_url');
    if (window === top) {
      if (adIframeUrl) {
        if (navigator.userAgent.indexOf('iPhone') > -1) {
          var img = new Image();
          img.src = adIframeUrl;
        } else {
          var link = document.createElement('link');
          link.rel = 'prefetch';
          link.href = adIframeUrl;
          document.getElementsByTagName('head')[0].appendChild(link);
        }
      }
    }
  } catch (err) {

  }

})();
</script>


  <script type="text/javascript">
        var biz = "MzIwODI1NDg0MA=="||"";
        var sn = "a8ee831593d31ae0a64d2f939d9c0ed7" || "";
        var mid = "2651430282" || ""|| "";
        var idx = "1" || "" || "" ;


      var is_rumor = ""*1;
      var norumor = ""*1;

      if (!!is_rumor&&!norumor && !!biz && !!mid){

          if (!document.referrer || document.referrer.indexOf("mp.weixin.qq.com/mp/rumor") == -1){
            location.href = location.protocol + "//mp.weixin.qq.com/mp/rumor?action=info&__biz=" + biz + "&mid=" + mid + "&idx=" + idx + "&sn=" + sn + "#wechat_redirect";

          }
      }else{
        function onBridgeReady() {
            WeixinJSBridge.call("hideToolbar");
            WeixinJSBridge.call("hideOptionMenu");
        }
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();
        }
      }
  </script>




</body></html>