# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = paper.settings

[deploy:papers]
url = http://tz3.zhangyupai.net:6800/
project = paper
